{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
</body>

<footer>
    <img src="{% static 'images/logo.png' %}" alt="" style="width: 200px;">
</footer>

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #f3f3f3;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 50px; */
        padding: 20px 0;
        background-color: rgb(31, 30, 30);
    }
</style>

</html>