{% extends "base.html" %}

{% block content %}
<div class="products-container">
    <h2>Products</h2>

    <div id="popupForm" class="popup">
        <form class="popup-content" action="" method="get">
            {% csrf_token %}
            <!-- Your form fields go here -->
            <div style="display: flex; gap: 30px; align-items: center;">
                <span>Filter by Category</span>
                <select name="category" id="category" style="padding: 5px; border-radius: 5px;">: 
                    <option value="">----------</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" style="width: 30%; padding: 10px 5px; border-radius: 5px; background-color: #2E3192; color: white;">Submit</button>
            <!-- <a href="" class="close" id="closepopup">Close</a> -->
        </form>
    </div>
    <!-- Button to open the popup form -->
    <div style="display: flex; justify-content: center; align-items: center; padding: 10px; width: 80%;">
        <button id="openPopup" style="padding: 10px 20px; border-radius: 5px; background-color: #3a3fbe; color: white;">Apply Filters</button>
    </div>
    <div class="product-list">
        {% for product in products %}
        <div class="list-item">
            <img src="{{product.cover_image.url}}" alt="">
            <span style="font-size: large; font-weight: 600;">{{product.name}}</span>
            <span>{{product.category.name}}</span>
            <div style="margin-top: 10px;">
                <span>Rs.{{product.original_price}}</span> &nbsp;
                {% if product.discounted_price %}
                <span>Rs.{{product.discounted_price}}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    // Get the popup form and the button that opens it
    var popup = document.getElementById('popupForm');
    var openButton = document.getElementById('openPopup');
    var closeButton = document.getElementById('closepopup')

    // Function to open the popup form
    openButton.onclick = function () {
        popup.style.display = 'block';
    }

    // Close the popup form when the user clicks anywhere outside of it
    window.onclick = function (event) {
        if (event.target == popup) {
            popup.style.display = 'none';
        }
    }
</script>

<style>
    /* Popup container */
    .popup {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        padding-top: 60px;
        /* Place popup form at center */
    }

    /* Popup content */
    .popup-content {
        background-color: #fefefe;
        margin: 5% auto;
        /* 5% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        border-radius: 5px;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* Could be more or less, depending on screen size */
    }

    /* Close button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* .filters {
        padding: 10px 0;

        select {
            padding: 5px;
            border-radius: 5px;
            outline: none;
        }
    } */

    .products-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 80%;
        justify-content: start;
        padding: 10px 0;
    }

    .list-item {
        display: flex;
        flex-direction: column;
        align-items: start;
        border-radius: 5px;
        padding: 5px;

        img {
            width: 200px;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
        }

        span {
            margin-top: 15px;
            width: 200px;
        }
    }

    .list-item:hover {
        box-shadow: 2px 3px 13px 0px rgba(122, 122, 122, 1);
    }
</style>
{% endblock %}